.thumb {
  text-align: center;
}

.thumb img {
  width: 300px;
  height: auto;
}

.menu-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.breadcrumb {
  padding: 20px;
  
    & .page-heading {
      float: left;
    }

    & .action-item {
      float: right;
    }
}