.flex-box {
	display: flex;
	width: 50%;
	padding-top: 50px;
	flex-direction: column;
}

button, input[type = reset] {
	background-color: #b7b7b7;
	border: none;
	color: white;
	padding: 10px 20px;
	text-align: center;
	display: inline-block;
	font-size: 16px;
	border-radius: 5px;
	cursor: pointer;
}

.sort-wrapper {
	height: 30px;
}

main > div {
    border-bottom: 1px dotted #bdbdbd;
    padding: 10px;
	margin-bottom: 30px;
}