<%- include("./partials/header")  %>

<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="/">Todo App</a>
</nav>

<div class="container mt-5">
    <form action="/add/todo" method="POST" class="d-flex">
        <input type="text" name="todo" class="form-control" placeholder="Enter Todo" required>
        <input type="submit" value="Add Todo" class="btn btn-md btn-primary mx-2">
    </form>

    <ul class="list-group my-5">
        <%if (todo.length > 0) { %>
            <% todo.forEach(todos => { %>
                <li class="list-group-item"><%= todos.todo %> 
                    <a href="/delete/todo/<%= todos._id %>" class="btn btn-danger btn-sm float-right">Delete</a>
                </li>
            <% }) %>
        <%} else { %>
            No todos!
       <% } %>
    </ul>
    <%if (todo.length > 1) { %>
        <a href="/deleteAll/todo/" class="btn btn-danger btn-sm float-right">Delete All</a>
    <% } %>
    
</div>

<%- include("./partials/footer")  %>